<table align=left width="590" height="144" style="height: 67px; width: 565px;">
<tbody>
<tr>
<td width=82><img alt="revA" src="https://static1.squarespace.com/static/5992c2c7a803bb8283297efe/t/59c803110abd04d34ca9a1f0/1530629279239/" /></td>
<td style="width: 422px; height: 67px;">
<h1 style="text-align: left;">Python Foundations</h1>
<h2 style="text-align: left;">Checkpoint 1</h2>
</td>
</tr>
</tbody>
</table>

In [ ]:
from datetime import datetime as dt

# Fill in the __author__ string with your name and run this cell.
__author__ = "???"
start_time = dt.utcnow()
print(f"Author: {__author__}")
print(f"Start Time: {start_time} UTC")

# Strings

## 1.

In [ ]:
# Create and print the string "Python" from the strings defined below by
# using indexing, slicing, concatenation, and/or string methods.
p1 = "pyh"
p2 = "not"

### Expected Output:
```
Python
```

## 2.

In [ ]:
# Use string methods to create the string "Pyth0n" (that's a zero!)
# from the string defined below.
s = "python"

### Expected Output:
```
Pyth0n
```

## 3.

In [ ]:
# Using the variables defined below and your knowledge of string formatting, 
# print the string "3 + 5 = 8" without using literal integers.
n1, n2 = 3, 5

### Expected Output:
```
3 + 5 = 8
```

# Lists

## 4.

In [ ]:
# Create and print a list of only the numbers at even indices from the list defined below.
nums = [9, 5, 8, 2, 17, 4, 1, 2, 3]

### Expected Output:
```
[9, 8, 17, 1, 3]
```

## 5.

In [ ]:
# Place a -2 at the beginning of the list defined below. Print the resulting list.
nums = [9, 8, 17, 1, 3]

### Expected Output:
```
[-2, 9, 8, 17, 1, 3]
```

## 6.

In [ ]:
# Remove the value 17 from the list defined below. Print the resulting list.
nums = [-2, 9, 8, 17, 1, 3]

### Expected Output:
```
[-2, 9, 8, 1, 3]
```

## 7.

In [ ]:
# Using the list defined below, use comprehension syntax to create a 
# new list of tuples where each tuple contains the original number and its 
# square (n*n). Print the resulting list.
nums = [-2, 9, 8, 1, 3]

### Expected Output:
```
[(-2, 4), (9, 81), (8, 64), (1, 1), (3, 9)]```

## 8.

In [ ]:
# Sort the list defined below by each tuple's second item (the
# square value). Print the resulting list of tuples.
tuples = [(-2, 4), (9, 81), (8, 64), (1, 1), (3, 9)]

### Expected Output:
```
[(1, 1), (-2, 4), (3, 9), (8, 64), (9, 81)
```

# Loops

## 9.

In [ ]:
# Build and print a list containing the length of each word from the list defined below.
words = ['This', 'is', 'the', 'way']

### Expected Output:
```
[4, 2, 3, 3]
```

## 10.

In [ ]:
# Using a `for` loop with the `enumerate()` function, print each index and word from
# the list defined below. However, if the index is odd, print the word in reverse instead.
words = ['What', 'goes', 'up', 'must', 'come', 'down']

### Expected Output:
```
0 What
1 seog
2 up
3 tsum
4 come
5 nwod
```

## 11.

In [ ]:
# Fill in the following code, replacing the question marks, to print the numbers 1-10 counting backwards.
for i in range(?, ?, ?):
  print(i)

### Expected Output:
```
10
9
8
7
6
5
4
3
2
1
```

## 12.

In [ ]:
# Using a while loop, remove the smallest number from the list defined below
# until there are only 5 numbers left, then print the list.
nums = [76, 22, 21, 35, 98, 88, 7, 81, 54, 10]

### Expected Output:
```
[76, 98, 88, 81, 54]
```

# Dictionaries

In [ ]:
# Run this cell!
# Use this dictionary for the questions in this section.
person = {
    "name": "Bob",
    "age": 50,
    "wife": "Martha"
}

## 13.

In [ ]:
# Bob just had a birthday! Update his age in the person dictionary.

# your code here
print(person)

### Example Output:
```
{'name': 'Bob', 'age': 51, 'wife': 'Martha'}
```

## 14.

In [ ]:
# Check for the "children" key in the person dictionary from above.
# Print "no kids" if the "children" key does not exist

### Expected Output:
```
no kids
```

## 15.

In [ ]:
# Bob and Martha just had twins! Add a "children" key to the dictionary 
# which contains a list of strings of the children's names. Give them fun names!

print(person)

### Example Output:
```
{'name': 'Bob', 'age': 51, 'wife': 'Martha', 'children': ['GOB', 'Tobias']}
```

## 16.

In [ ]:
# Tell us about Bob! Loop through the person dictionary and 
# print each piece of Bob's information.
for i, val in person.items():
  print(i, ":", val)

### Example Output:
```
name : Bob
age : 50
wife : Martha
children : ['GOB', 'Tobias']
```

# Functions

In [ ]:
# Run this cell!
# Use this dictionary for the questions in this section.
sw = {
    'vader': 'sith',
    'luke': 'jedi',
    'yoda': 'jedi',
    'obi-wan': 'jedi',
    'qui-gon': 'jedi',
    'palaptine': 'sith',
    'binks': 'sith'
}

## 17.

In [ ]:
# Create a function called jedi_sort that receives the above dictionary
# as an argument, and separates the sith from the jedi and returns a tuple
# which contains 2 lists, 1 of jedi names and 1 of sith names
def jedi_sort(sw):
  jedi_list = [i for i, val in sw.items() if val=="jedi"]
  sith_list = [i for i, val in sw.items() if val=="sith"]
  return (jedi_list, sith_list)
print(jedi_sort(sw))

### Expected Output:
```
(['luke', 'yoda', 'obi-wan', 'qui-gon'], ['vader', 'palaptine', 'binks'])
```

## 18.

In [ ]:
# Create a function called "who_wins" that uses the result from the previous 
# function and prints "sith win" or "jedi win" based on which side has more 
# people.

def who_wins(sw):
  if len(sw[0]) > len(sw[1]):
    return "Jedi win"
  else:
    return "sith win"

print(who_wins(jedi_sort(sw)))

### Expected Output:
```
jedi win
```

# Debugging

## 19.

In [ ]:
# Fix the bugs in the following code so that it only prints once.
total = sum(3, 5, 12, 9)
if total < 30:
    print 'That's not enough: ' + total
if totul > 30:
    print('That's too much: ' + total)
else:
    print('That's perfect: ' + total)

# Please run the final cell below, to conclude.

In [ ]:
# Wrapping up
end_time = dt.utcnow()
print(f"End Time: {end_time} UTC")
print(f"Duration: {end_time - start_time}")

# The End
Now, use the **File** menu above and select **Download .ipynb**. Save the file to your computer and submit it for the **Checkpoint 1** assessment.