<table align=left width="590" height="144" style="height: 67px; width: 565px;">
<tbody>
<tr>
<td width=82><img alt="revA" src="https://static1.squarespace.com/static/5992c2c7a803bb8283297efe/t/59c803110abd04d34ca9a1f0/1530629279239/" /></td>
<td style="width: 422px; height: 67px;">
<h1 style="text-align: left;">Python Foundations</h1>
<h2 style="text-align: left;">Whiteboard Round II</h2>
</td>
</tr>
</tbody>
</table>

# Strings

## 1.

In [ ]:
# Create the string "Python" from the string defined below
# using indexing, slicing, and string methods.
p = "pyhnot"

## 2.

In [ ]:
# Use string methods to create the string "Pyth0n" (that's a zero!)
# from the string defined below.
s = "python"

## 3.

In [ ]:
# Using the variables defined below, print the string "3 + 5 = 8"
# without using literal integers.
n1, n2 = 3, 5

# Lists

## 4.

In [ ]:
# Create a list of only the even digits from the list defined below.
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 5.

In [ ]:
# Using the resulting list of even digits, place a -2 at the beginning of the list.

## 6.

In [ ]:
# Now, get rid of the 2.

## 7.

In [ ]:
# Using the resulting list, use comprehension syntax to create a list of
# tuples where each tuple contains the original number and its square (n*n).
# e.g., [(-2, 4), (0, 0), (4, 16), (6, 36), (8, 64)]

## 8.

In [ ]:
# Now, sort the resulting list of tuples by each tuple's second item (the
# square value).

# Loops

## 9.

In [ ]:
# Build a list containing the length of each word from the given list below.
words = ['What', 'goes', 'up', 'must', 'come', 'down']

## 10.

In [ ]:
# Using the enumerate() function in a `for` loop, print each index and word from
# the words list. But, if the index is odd, print the word in reverse.
words = ['What', 'goes', 'up', 'must', 'come', 'down']

## 11.

In [ ]:
# Fill in the following code to print the numbers 1-10 counting backwards.
for i in range(?, ?, ?):
  print(i)

## 12.

In [ ]:
# Using a while loop, remove the smallest number from the list defined below
# until there are only 5 numbers left.
nums = [76, 22, 21, 35, 98, 88, 7, 81, 54, 10]

# Dictionaries

In [ ]:
# Run this cell!
# Use this dictionary for the questions in this section.
person = {
    "name": "Bob",
    "age": 50,
    "wife": "Martha"
}

## 13.

In [ ]:
# Bob just had a birthday! Update his age.

## 14.

In [ ]:
# Find out if Bob has any children.
# Look for the "children" key.
# Print "no kids" if he does not have children.

## 15.

In [ ]:
# Bob and Martha just had twins!
# Add the children to the dictionary -- you get to name them!

## 16.

In [ ]:
# Tell us about Bob!
# Print each piece of Bob's information from the dictionary.

# Functions

In [ ]:
# Run this cell!
# Use this dictionary for the questions in this section.
sw = {
    'vader': 'sith',
    'luke': 'jedi',
    'yoda': 'jedi',
    'obi-wan': 'jedi',
    'qui-gon': 'jedi',
    'palaptine': 'sith',
    'binks': 'sith'
}

## 17.

In [ ]:
# Create a function that receives the above dictionary
# as an argument, and separates the sith from the jedi

## 18.

In [ ]:
# Create a function that uses the result from the last question and
# prints "sith win" or "jedi win" based on which side has more people.

# Regular Expressions

## 19.

In [ ]:
# Use regular expressions to print all team names along with their
# scores from the string defined below.
s = "The teams and scores for last season are: Bears: 13, Giants: 21"

# Debugging

## 20.

In [ ]:
# Fix the bugs in the following code so that it only prints once.
total = sum(3, 5, 12, 9)
if total < 30:
    print 'That's not enough: ' + total
if totul > 30:
    print('That's too much: ' + total)
else:
    print('That's perfect: ' + total)